
header.header
  nav.nav.nav--tours
   a.nav__el(href='/') 
      .header__logo 
        img(src='/img/logo-green.png' alt='Natours logo')
  nav.nav.nav--user
    //- a.nav__el(herf='#') My Booking
    //- a.nav__el(herf='#')
    //-     img.nav__user-img(src='img/user.jpg' alt='User photo')
    //-     span Pym

    a.nav__el(href='/login') Log in
    //-a.nav__el.nav__el--cta(href='#') Sign up

  